/Constraints.class
/DBFoodItem.class
/MealPlannerRec.class
/MealPlannerRequest.class
/FoodItem.class
/MealItem.class
/MealItem$Meal.class
/MealItemContent.class
/RecipeItem.class
/UserProfile$gender.class
/UserProfile.class
/UserRecipe.class
